<html>
{% load static %}
<head>
 
<!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-129417653-1');
  </script>
<!-- End Google Analytics -->
    
<!-- Some Imports -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<script src="{% static 'assets/js/mqtt.js'%}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!-- Disable Right Click, Cut, Copy & Paste -->
<script type="text/javascript">
  $(document).ready(function () {
      //Disable cut copy paste
      $('body').bind('cut copy paste', function (e) {
          e.preventDefault();
      });
     
      //Disable mouse right click
      $("body").on("contextmenu",function(e){
          return false;
      });
  });
</script>

<script>

  //Sid Setup
  $(document).ready(function(){
    // Notification Pull At StartUp
    $.ajax({
      url: "{% url 'chatapp:notification_pull' %}",
      data: {
        "username" : "{{user.username}}"
          },
      type:'post',
      dataType: 'json',
      success: function (data) {
        for (var key in data.notification_list){
          let current_user = data.notification_list[key].username;
          let not_counter = data.notification_list[key].notification;
          if(not_counter != 0){
            $("#"+current_user+"_badge_span").css("background-color", "green");
            $("#"+current_user+"_badge").text(not_counter);
            }
          else{
            $("#"+current_user+"_badge").empty();
            $("#"+current_user+"_badge_span").css("background-color", "white");
            }
          }     
        },
      error:function (data) {
        console.log("Failed to get notification pull.");
        }
      });

      $("#sid").text("****************");
      $("#btn1").click(function(){
        $("#sid").text('{{user.sid}}');
        });
      $("#btn2").click(function(){
        $("#sid").text("****************");
        });
      //Chat-List Hover Effect
        $('.chat_list').hover(
          function(){
            var $this = $(this);
            $this.data('bgcolor', $this.css('background-color')).css('background-color', '#4285f4');
          },
          function(){
            var $this = $(this);
            $this.css('background-color', $this.data('bgcolor'));
          });
        });

        //Show Message Box (When User Clicks On Message Box)
        //Setting Publish Variable:
        var user_pub_topic = "";
        var ping_confirm_topic = "";
        var is_user_online = false;
        var is_interval_set = false;
        
        function showmessagebox(first_name, last_name, rec_username){
        
        // Reset User Pub Topic So That Notification Will Work For Last Selected User
         user_pub_topic = "";
        if(connection_checker){
          is_user_online = false;
            // Setting Display  
              $("#conn_not_avl").css("display", "none");
              $("#message_box").css("display", "none");
              $("#dialog").css("display", "none");
              $("#transition_box").css("display", "block");
          ping_confirm_topic = "chatbook/"+rec_username+"/pingresponse";
          client.subscribe("chatbook/"+rec_username+"/pingresponse");
          console.log("Subscribed To: "+"chatbook/"+rec_username+"/pingresponse");
          message_instance = new Paho.MQTT.Message("{{user.username}}");
          message_instance.destinationName = "chatbook/"+rec_username+"/ping";
          client.send(message_instance);
          console.log("Pinging...");
          
          //Clearing Old Interval
          if(is_interval_set){
            console.log("Clearing Previous Interval...");
            window.clearInterval(check_user_online);
            is_interval_set = false;
            console.log("Previous Interval Cleared...");
          }

          //Setting Interval 
          console.log("Setting Interval To Check Is "+first_name+" "+last_name+" Online...");
          check_user_online = setInterval(online_user, 3000);
          is_interval_set = true;
          
          function online_user(){
            if(is_user_online){
              console.log(first_name+" "+last_name+" is Online !");
              console.log("Clearing Interval To Stop Further Pinging...");
              window.clearInterval(check_user_online);
              is_interval_set = false;
              console.log("Interval Cleared");
              user_pub_topic = "chatbook/"+"{{user.username}}"+"/"+rec_username;
              console.log("Topic Prepared For Sending Message: "+user_pub_topic);
              // Getting Messages History Of Both Users
                $.ajax({
                  url: "{% url 'chatapp:message_history' %}",
                  data: {
                    "user_pub_topic" : user_pub_topic
                  },
                  type:'post',
                  dataType: 'json',
                  success: function (data) {
                    $('#history').css("display", "block");
                    $('#history').empty();
                    var i;
                    for (var key in data.message_queryset){
                      if(data.message_queryset[key].identity=="sender"){
                      $('#history').append($('<div class="outgoing_msg"><div class="sent_msg"><p>'+data.message_queryset[key].message+'</p><span class="time_date">'+data.message_queryset[key].time_stamp+'</span></div></div><br>'));
                      // Setting focus to the last updated message
                      var objDiv = document.getElementById("history");
                      objDiv.scrollTop = objDiv.scrollHeight;
                      }
                      else{
                      $('#history').append($('<div class="incoming_msg"><div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div><div class="received_msg"><div class="received_withd_msg"><p>'+data.message_queryset[key].message+'</p><span class="time_date">'+data.message_queryset[key].time_stamp+'</span></div></div></div><br>'));
                      // Setting focus to the last updated message
                      var objDiv = document.getElementById("history");
                      objDiv.scrollTop = objDiv.scrollHeight;
                      }
                    }
                // Reset Notification Counter When User Seen The Message
                $.ajax({
                  url: "{% url 'chatapp:reset_notification_counter' %}",
                  data: {
                    "admin" : "{{user.username}}",
                    "reset_user" : user_pub_topic.split('/')[2]
                  },
                  type:'post',
                  dataType: 'json',
                  success: function (data) {
                    for (var key in data.notification_list){
                      let current_user = data.notification_list[key].username;
                      let not_counter = data.notification_list[key].notification;
                      if(not_counter != 0){
                        $("#"+current_user+"_badge_span").css("background-color", "green");
                        $("#"+current_user+"_badge").text(not_counter);
                        }
                      else{
                        $("#"+current_user+"_badge").empty();
                        $("#"+current_user+"_badge_span").css("background-color", "white");
                        }
                      }         
                    },
                  error:function (data) {
                    console.log("Resetting Notification Counter Failed !");                                  
                    }
                  });          
                  },
                  error:function (data) {
                    console.log("Failed to get the messages.");
                  }
                });

              // Setting Display
              $("#receiver").text(first_name+" "+last_name);
              $("#dialog").css("display", "none");
              $("#transition_box").css("display", "none");
              $("#message_box").css("display", "block");
            }
            else{
              message_instance = new Paho.MQTT.Message("{{user.username}}");
              message_instance.destinationName = "chatbook/"+rec_username+"/ping";
              client.send(message_instance);
              console.log("Waiting For Response From "+first_name+" "+last_name);
            }
          }
        }
        else{
          // Setting Display
          $("#transition_box").css("display", "none");
          $("#message_box").css("display", "none");
          $("#dialog").css("display", "none");
          $("#conn_not_avl").css("display", "block");
        }
      }

      //Initializing Paho Client
      let IP = "13.127.29.43"
      let PORT = 1884
      let CLIENT_ID = getclientid()
      client = new Paho.MQTT.Client(IP, PORT, CLIENT_ID)
      
      // Set Callback Handlers
      client.onMessageArrived = onMessageArrived;
      client.onConnectionLost = onConnectionLost;
      // Setting Interval To Check Is System Online 
      setInterval(isSystemOnline, 5000);
      // Making Connection To The Client
      // And Setting Last Will Message(Broker Send Disconnect Message If Any Client Abruptlty Got Disconnect)
        var last_will = new Paho.MQTT.Message("User {{user.username}} got disconnected !");
        last_will.destinationName = "chatbook/lastwill";
        client.connect(
        {
          onSuccess:onConnect,
          userName:"{{user.username}}",
          password:"{{user.sid}}",
          willMessage:last_will
        }
      );
        var cl_topic = "chatbook/returnclientlist";
        var ul_topic = "chatbook/updateclientlist";
        //Flag That Checks Connection
        var connection_checker = false;
        //On Connect Call This Function
        function onConnect(){
          client.subscribe(cl_topic);
          console.log("Subscribed To: "+cl_topic); 
          console.log("Updating Connection Status At Public Broker...");
          message_instance = new Paho.MQTT.Message('{{user.username}}');
          message_instance.destinationName = ul_topic;
          client.send(message_instance);
          console.log("Public Broker Updated Successfully !");
          // Once a connection has been made, make a subscription and send a message.
          // Setting Display
          $("#conn_not_avl").css("display", "none");
          $("#message_box").css("display", "none");
          $("#transition_box").css("display", "none");
          $("#dialog").css("display", "block");
          console.log("Connected To EC2 Broker !");
          connection_checker = true;
          $("#indicator").hide();
          // Subscribing to ping topic
          client.subscribe("{{ping_sub_topic}}");
          client.subscribe(last_will.destinationName);
          console.log("Subscribed To: "+"{{ping_sub_topic}}");
          // Doing All Subscriptions So That Can Receive Messages From Other Users Online
          {% for subtopic in sub_topic_list %}
              client.subscribe("{{subtopic.topic}}");
              console.log("Subscribed To: "+"{{subtopic.topic}}");
          {% endfor %}
        }
        // called when the client loses its connection
        function onConnectionLost(responseObject) {
          if (responseObject.errorCode !== 0) {
            connection_checker = false;
            $("#indicator").show();
            console.log("onConnectionLost:"+responseObject.errorMessage);
            console.log("Connection Lost !");
            // Setting Display (Inform User That Internet Connection Is Not Available)
            $("#conn_not_avl").css("display", "block");
            $("#message_box").css("display", "none");
            $("#transition_box").css("display", "none");
            $("#dialog").css("display", "none");
            }
          }
        function onMessageArrived(message) {
          var message_topic = message.destinationName;
          var admin = '{{user.username}}';
          text = message_topic.split('/')[2];
          if(message_topic == "{{ping_sub_topic}}"){
            console.log("Pinging Message From "+message.payloadString);
            console.log("Sending Ping Response...");
            message_instance = new Paho.MQTT.Message("{{user.username}}");
            message_instance.destinationName = "chatbook/"+"{{user.username}}"+"/pingresponse";
            client.send(message_instance);
          }
          else if(message_topic == ping_confirm_topic){
            console.log("Ping Confirmation From "+message.payloadString);
            is_user_online = true;
          }
          else if(message_topic == last_will.destinationName){
            console.log("Last Will Message Arrived : "+ message.payloadString);
          }
          else if(message_topic == cl_topic){
            var client_list_string = message.payloadString;
            console.log("Client List Arrived: "+client_list_string);
            var client_list = JSON.parse(client_list_string)
            for (var key in client_list){
              let user_id = client_list[key].username;
              let status = client_list[key].status;
              $("#" + user_id + "_status").empty();
              if(status == 1){
                $("#" + user_id + "_status").css("color", "green");
                $("#" + user_id + "_status").text("online");
              }
              else{
              $("#" + user_id + "_status").css("color", "gray");
              $("#" + user_id + "_status").text("offline");
              }
            }
          }
          else{
           if(admin == text){
            console.log("New Message Arrived: "+ message.payloadString);
            console.log("For Subscribed Topic: "+ message_topic);
            // Notify for new incoming message
            playAudio();
            // Saving message when received
            $.ajax({
              url: "{% url 'chatapp:save_message_received' %}",
              data: {
              "sub_topic" : message_topic,
              "payload_rec" : message.payloadString
              },
              type:'post',
              dataType: 'json',
              success: function (data) {
              // On Success Show Chat Updated History
              if(user_pub_topic!=""){
              var filter_sub_username = message_topic.split("/")[1];
              var filter_pub_username = user_pub_topic.split("/")[2];
              if(filter_sub_username==filter_pub_username){
              // Showing Updated Chat
              $.ajax({
              url: "{% url 'chatapp:message_history' %}",
              data: {
              "user_pub_topic" : user_pub_topic
              },
              type:'post',
              dataType: 'json',
              success: function (data) {
                $('#history').css("display", "block");
                $('#history').empty();
                var i;
                for (var key in data.message_queryset){
                  if(data.message_queryset[key].identity=="sender"){
                  $('#history').append($('<div class="outgoing_msg"><div class="sent_msg"><p>'+data.message_queryset[key].message+'</p><span class="time_date">'+data.message_queryset[key].time_stamp+'</span></div></div><br>'));
                  // Setting focus to the last updated message
                  var objDiv = document.getElementById("history");
                  objDiv.scrollTop = objDiv.scrollHeight;
                  }
                  else{
                  $('#history').append($('<div class="incoming_msg"><div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div><div class="received_msg"><div class="received_withd_msg"><p>'+data.message_queryset[key].message+'</p><span class="time_date">'+data.message_queryset[key].time_stamp+'</span></div></div></div><br>'));
                  // Setting focus to the last updated message
                  var objDiv = document.getElementById("history");
                  objDiv.scrollTop = objDiv.scrollHeight;
                  }
                }         
              },
              error:function (data) {
                console.log("Failed to get the messages.");
                }
              });
              }
              else{
                console.log("Message Arrived from different user !");
                // Setting Notification Counter And Notification Pull
                // Here Notification Will Work For All Clients Except Current Client That Is Chatting
                $.ajax({
                  url: "{% url 'chatapp:set_notification_counter' %}",
                  data: {
                  "exception" : user_pub_topic.split('/')[1],
                  "user_inprocess" : message_topic.split('/')[1],
                  "admin" : "{{user.username}}"
                  },
                  type:'post',
                  dataType: 'json',
                  success: function (data) {
                    for (var key in data.notification_list){
                    let current_user = data.notification_list[key].username;
                    let not_counter = data.notification_list[key].notification;
                    if(not_counter != 0){
                      $("#"+current_user+"_badge_span").css("background-color", "green");
                      $("#"+current_user+"_badge").text(not_counter);
                    }
                    else{
                      $("#"+current_user+"_badge").empty();
                      $("#"+current_user+"_badge_span").css("background-color", "white");
                    }
                  }         
                },
                error:function (data) {
                  console.log("Setting Notification Counter Failed !");                                  
                }
              });
            }
          }
          else{
            // Set Notification for user
            console.log("Notification need to be set for the user !");
            // Setting Notification Counter And Notification Pull
            // Here Notification Will Work For All Clients Because No One Is Chatting Right Now
            $.ajax({
              url: "{% url 'chatapp:set_notification_counter' %}",
              data: {
              "exception" : "none",
              "user_inprocess" : message_topic.split('/')[1],
              "admin" : "{{user.username}}"
              },
              type:'post',
              dataType: 'json',
              success: function (data) {
              for (var key in data.notification_list){
                let current_user = data.notification_list[key].username;
                let not_counter = data.notification_list[key].notification;
                if(not_counter != 0){
                  $("#"+current_user+"_badge_span").css("background-color", "green");
                  $("#"+current_user+"_badge").text(not_counter);
                }
                else{
                  $("#"+current_user+"_badge").empty();
                  $("#"+current_user+"_badge_span").css("background-color", "white");
                }
              }         
            },
            error:function (data) {
              console.log("Setting Notification Counter Failed !");                                  
            }
          });
        }
      },
      error:function (data) {
      console.log("Failed to save the message.");
      }
    });              
  }
  else{
    // Do Nothing
    console.log("Unkown Topic: Not Allowed !");
    }
  }
}

// Generate Random Client Id To Prevent Clashes
function getclientid() {
  var text = "";
  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
  for (var i = 0; i < 5; i++)
    text += possible.charAt(Math.floor(Math.random() * possible.length));
    return text;
  }
function isSystemOnline(){
  if(connection_checker){
  console.log("Client in connected state !");
  $("#indicator").hide();
  
  // Checking If Token Valid
  $.ajax({
    url: "{% url 'chatapp:is_token_valid' %}",
    data: {
    "token" : "{{user.token}}"
    },
    type:'post',
    dataType: 'json',
    success: function (data) {
    console.log(data);
    if(data.valid){    
    // All Ok, Do Nothing
    }
    else{
      console.log("Someone logged in from another device, forcing logout !");
      $("#force_logout").click();
    }                               
  },
  error:function (data) {
    console.log("Error, Failed to check token validity !");
    }
  }); 
  }
  else{
  console.log("System is offline !");
  console.log("Trying to reconnect...");
  $("#indicator").show();
    client.connect({
      onSuccess:onConnect,
      userName:"{{user.username}}",
      password:"{{user.sid}}"
      });
    }
  }

  function publishMessage(event){
    
    let sending_to = user_pub_topic.split("/")[2];
    if($("#" + sending_to + "_status").text() == "online"){
      var message_text = $("#message_input").val();
      if(message_text != ""){
        console.log("Sending Message To Topic: "+ user_pub_topic);
        message_instance = new Paho.MQTT.Message(message_text);
        message_instance.destinationName = user_pub_topic;
        client.send(message_instance);
        console.log("Message Sent Successfully !");
        document.getElementById("message_input").value = "";

        // Saving message corrosponding to user
        $.ajax({
        url: "{% url 'chatapp:save_message_sent' %}",
        data: {
        "pub_topic" : user_pub_topic,
        "payload_sent" : message_text
        },
        type:'post',
        dataType: 'json',
        success: function (data) {
        // On Success Showing Updated Chat
        $.ajax({
        url: "{% url 'chatapp:message_history' %}",
        data: {
        "user_pub_topic" : user_pub_topic
        },
        type:'post',
        dataType: 'json',
        success: function (data) {
          $('#history').css("display", "block");
          $('#history').empty();
          var i;
          for (var key in data.message_queryset){
          if(data.message_queryset[key].identity=="sender"){
            $('#history').append($('<div class="outgoing_msg"><div class="sent_msg"><p>'+data.message_queryset[key].message+'</p><span class="time_date">'+data.message_queryset[key].time_stamp+'</span></div></div><br>'));
            // Setting focus to the last updated message
            var objDiv = document.getElementById("history");
            objDiv.scrollTop = objDiv.scrollHeight;
          }
          else{
            $('#history').append($('<div class="incoming_msg"><div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div><div class="received_msg"><div class="received_withd_msg"><p>'+data.message_queryset[key].message+'</p><span class="time_date">'+data.message_queryset[key].time_stamp+'</span></div></div></div><br>'));
            // Setting focus to the last updated message
            var objDiv = document.getElementById("history");
            objDiv.scrollTop = objDiv.scrollHeight;
          }
        }         
      },
      error:function (data) {
        console.log("Failed to get the messages.");
      }
    });
  },
  error:function (data) {
    window.alert("Failed to save the message.");
    }
  });

  event.preventDefault();
  return false;
  }           
  
  else{
    event.preventDefault();
    $("#message_input").effect( "shake", {times:4}, 1000 );
    console.log("Empty message not allowed");
    return false;                       
    }
  }
  else{
    console.log("User got offline, page refreshing...");
    }
  }

  function playAudio() {
    var audio = new Audio('https://mobiringtones.net/uploads/ringtones/1643434-hangouts-message.mp3');  
    audio.type = 'audio/wav';
    var playPromise = audio.play();
    if (playPromise !== undefined) {
      playPromise.then(function () {
      console.log('Playing Notification Sound...');
    }).catch(function (error) {
    console.log('Failed to play notification sound...' + error);
    });
  }
}
        
</script>


<style>
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}
.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}
.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}
.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}
.active_chat{ background:#ebebeb;}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}
.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
</style>
</head>

<body>
  
  <div class="container">
    <h3 class=" text-center"><span style='color: #4285f4'>C</span> <span style='color: #ea4335'>h</span> <span style='color: #fbbc05'>@</span> <span style='color: #4285f4'>t</span> <span style='color: #34a853'>B</span> <span style='color: #ea4335'>o</span><span style='color: #4285f4'>O</span><span style='color: #ea4335'>K</span> Messaging<sub><span><h6>v1.0</h6></span></sub></h3>
    <center><p style="display: none;" id="indicator">Internet Connection Lost !</p></center>
    <h6>Sid: </h6><h6 id="sid"></h6> <input type="button" class="btn btn-info btn-md" id="btn1" value="Show"> <input type="button" id="btn2" class="btn btn-info btn-md" value="Hide">
    <p style="float:right;"><strong>{{user.first_name}} {{user.last_name}}</strong></p><a  href="{% url 'chatapp:logout' %}"><input id="force_logout" style="float:right; margin-right: 25px;" type="button" class="btn btn-info btn-md" value="Log Out"></a><br><br>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h6>Users</h6>
              </div>
            <!-- <div class="srch_bar">
              <div class="stylish-input-group">
                <input  type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div> -->
            </div>
        <div class="inbox_chat">
          {% for candidate in user_list %}
            <div class="chat_list" id="hover_div" onclick="showmessagebox('{{candidate.first_name}}', '{{candidate.last_name}}', '{{candidate.username}}');">
              <div class="chat_people">
                <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png"></div>
                  <div class="chat_ib">                    
                    <h5>{{candidate.first_name}} {{candidate.last_name}} <span class="badge badge-success" id="{{candidate.username}}_badge_span"><p id="{{candidate.username}}_badge" style="color: black;"></p></span></h5>
                  </div>
              </div>
              <div>
                <p id="{{candidate.username}}_status" style="color:gray;">offline</p>
              </div>
            </div>
          {% endfor %}
        </div>
        </div>
       
        <div class="mesgs">
                  
          <div class="type_msg" id="message_box" style="display:none;">
            <p>Send Message To:<p id="receiver"></p></p>
            <br><br>
              <form onsubmit="publishMessage(event);">
              <div class="input_msg_write">
                <!-- main interface -->
              <div id="history" style="display:none;" class="msg_history">
                <!-- Elements Will Be Created Dynamically Here... -->
              </div>                
              <!-- main interface closed -->
                <input style="border:3px solid gray;" type="text" id="message_input" class="write_msg" placeholder="Type a message" />
                <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </div>
              </form>
          </div>
          <div id="transition_box" style="display: none;">
            <p>Please Keep Patience, Checking If User Online...</p>
          </div>
          <div id="conn_not_avl" style="display: none;">
            <p>Sorry, Internet Connection Not Available !</p>
          </div>
          <div id="dialog">
            <h6>Select any user to start chat</h6>
            <img src="https://banner2.kisspng.com/20180320/hbe/kisspng-online-chat-livechat-chat-room-web-chat-customer-s-drawing-live-chat-icon-5ab090a119c686.2966545715215208011056.jpg"><h5><sub>Powered By <span style='color: #4285f4'>M</span><span style='color: #ea4335'>Q</span><span style='color: #4285f4'>T</span> <span style='color: #ea4335'>T</span></sub></h5>
          </div>
      </div>
    </div>    
  </body>
</html>